@media (max-width: 992px){

    /* 導覽列 */
   .nav-container{
        width: 100%;
        padding: 0 36px;
        display: flex;
        justify-content: space-between;
    }
    .hamberger{
        display: none;
    }
    /* 導覽列 END */



    
    /* footer*/
    .footer-container{
    width: 100%;
    padding: 0 36px;
    }
    /* footerEND*/
}


@media (max-width: 767px){

    /* 導覽列 */
    .nav{
        margin-bottom: 40px;
    }
    .nav-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
    }
    .logo{
        margin-left: 15px;
    }

    .menu{
        display: none;
    }
    .hamberger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        margin-right: 20px;
    }
    .line{
        background-color: #fff;
        width: 30px;
        height: 4px;
    }
    /* 導覽列END */

    /* 門市據點 */
    .location-container{
        width: 100%;
        padding: 0 14px 0 13px;
    }
    .location-title{
        font-size: 24px;
        margin-bottom: 24px;
    }
    .location-title::before{
        height: 36px;
    }
    .locations-select h3{
        font-size: 16px;
    }
    .locations-dropDown{
        width: 73.6%;
    }
    .locations{
        margin-bottom: 64px;
    }
    .locations-item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }



    /* footer */
    .footer-bg{
    padding: 0;
    }
    .footer-container{
    width: 100%;
    margin: 0 auto;
    padding: 24px 14px 24px 13px;
    }
    .contact-item a{
    font-size: 16px;
    }

        .subMenu{
    display: none;
    }
    .social a{
    margin-right: 8px;
    }
    .social img{
    width: 24px;
    }
    .copyright{
    flex-direction: column;
    padding-top: 24px;
    }
    .term{
    display: flex;
    flex-direction: column;
    }
    .copyright-content{
    margin-bottom: 16px;
    }
    .term a{
    margin-bottom: 8px;
    }
    /* footerEND*/
}